%li
  %h3= link_to entry.title, entry.normalized_url
  .img= image_tag entry.feed.feed_owner.gravatar_url(:size => 45) 
  .author= link_to entry.feed.feed_owner, entry.feed.feed_owner
  .summary= entry.short_summary