!columns = 16
!width = 960
!gutter = 30

@import lib/grid_system.sass
@import lib/text.sass

!red = rgb(158, 12, 15)
!green = rgb(221, 255, 153)
!green_bkg = rgb(238, 255, 204)
!red_lite = #b45136
!red_mid = #ab3425
!gray_black = rgb(32, 32, 32)
!gray_dark = rgb(68, 68, 68)
!gray_lite = rgb(153, 153, 153)
!default_gray = rgb(102, 102, 102)

=sans
  :font-family Helvetica, Arial, sans-serif
=uitype
  :font-family Helvetica, Arial, sans-serif
=bold
  :font-weight bold
=normal
  :font-weight normal
=ultra_small_text
  :font-size 12px
=small_text
  :font-size 14px
=mid_text
  :font-size 16px

=crisp_shadow
  :text-shadow 0px 1px 1px #f5ffe0
=large_crisp_shadow
  :text-shadow 1px 2px 1px #f5ffe0
=lite_shadow
  :text-shadow 0px 1px 1px #DDD
=mid_shadow
  :text-shadow 0px 1px 1px #BABABA
=dark_shadow
  :text-shadow 0px 1px 1px #454545
  
=radius
  -moz-border-radius: 7px
  -webkit-border-radius: 7px
=small_radius
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
=micro_radius
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  

=link_sans
  +small_text
  +bold
  +sans
=small_sans
  +small_text
  +normal
  +sans
=ui_links
  +ultra_small_text
  +bold
  +uitype

body
  :background url(/images/backdrop.gif) repeat-x
  :color = !default_gray

a
  :color = !red
  &:hover
    :color = !gray_black
.crud
  :padding-top 5px
  +crisp_shadow
  a
    +link_sans
    +ultra_small_text
    :background = !green_bkg
    +radius
    :padding
      :top 5px
      :bottom 5px
      :left 10px
      :right 10px
    &:hover
      +dark_shadow
      :background = !red
      :color = !green
      
.pagination
  a
    +crisp_shadow
#wrap
  +container
  :position absolute
  :left 50%
  :margin-left = (!width / 2) * (-1) + "px"
  
// HEAD    
#head
  +wrapper(16)
  #nav
    :margin 0
    +wrapper(12)
    +prefix(4)
    :height 60px
    
    li
      :display inline
      :padding-right = !gutter/2 + "px"
      a
        :line-height 35px
        :color white
        +link_sans
        +dark_shadow
        :border-top = "3px solid" + !red_lite
        :padding-top 6px
        :padding-bottom 13px
        &:hover
          :color = !green
          :border-top-color white
    li.active
      a
        :color = !green
        :border-top-color = !green            
  .masthead
    +column(4)
    +suffix(8)
    :text-align right
    h1
      +bold
      a
        :color = !gray_dark
  .authentication
    +column(4)
    :position absolute
    :top -10px
    :left 50%
    :margin-left = 4 * !column + 4.5 * !gutter + "px"
    :padding-top 5px
    :height 40px
    :background url(/images/loginbobo.gif) no-repeat
    :list-style none
    li
      +link_sans
      +ultra_small_text
      +crisp_shadow
      a:hover
        :color = !gray_dark
    li.link_img
      :position absolute
      :left 0px
      :top 0px
      a
        :border 0
        :display block
        img
          :display block
    li.link_0
      :padding-left 56px
      :padding-right 25px
      +column(1)
      +first
    li.link_1
      +column(1)
      +last
    li.logged_out
      :padding-left 27px

#home-index
  #head
    .masthead
      +column(8)
      +prefix(4)
      :text-align left
      

=nav_inactive
  :color = !red
  +crisp_shadow
=nav_active
  :color = !green
  :background = !red
  +dark_shadow

#sidebar
  +wrapper(4)
  
  #subnav
    +column(4)
    :list-style none
    :background #f5ffe0 url(/images/navdropside_flip.gif) repeat-y left
    +radius
    :padding
      :top = !gutter/4 + "px"
      :bottom = !gutter/4 + "px"
    
    li
      :border-top
        :width 1px
        :style solid
        :color #ddff99
      &:first-child
        :border-top none
      a
        :display block
        :padding-left = !gutter/2 + "px"
        :font-size 18px
        :line-height 36px
        +link_sans
        +nav_inactive
        &:hover
          +nav_active
    .feedback
      a
        :font-weight normal
  #jobs
    +column(4)
        

body#home-events_and_presentations #wrap #subnav li.events_and_presentations a,
body.presentations #wrap #subnav li.events_and_presentations a,
body.events #wrap #subnav li.events_and_presentations a
  +nav_active
  :color white
body.topics #wrap #subnav li.topics a, body.posts #wrap #subnav li.topics a
  +nav_active
  :color white
body#home-blogs_and_tweets #wrap #subnav li.blogs_and_tweets a
  +nav_active
  :color white
body#home-developers_and_apps #wrap #subnav li.developers_and_apps a,
body#users-show #wrap #subnav li.developers_and_apps a
  +nav_active
  :color white
body.jobs #wrap #subnav li.jobs a
  +nav_active
  :color white

// FLASH

flash success error notice

#flash
  +column(12)
  
  div
    :margin
      :top 10px
      :bottom 10px
    :padding
      :left = !gutter/2 + "px"
      :right = !gutter/2 + "px"
      :top = !gutter/4 + "px"
      :bottom = !gutter/4 + "px"
    :border
      :width 3px
      :style double
      :color #CCC
  
  #flash_success
    :border-color = !green
  #flash_failure
    :border-color = !red
  #flash_notice
    :border-color = !gray_lite
  
// CONTENT
  
#content
  +wrapper(12)
  :position relative
  h1
    +column(12)
    :position absolute
    :left 0
    :top -60px
    +bold
    :border-bottom 3px double #BABABA
    +large_crisp_shadow
  h1.secondary
    :position static
    :top inherit
  h2
    :border-bottom 3px double #BABABA
    +mid_shadow
    a
      :color = !gray_dark
      &:hover
        :color = !red
        +crisp_shadow
  h3
    a
      :color = !red
      +crisp_shadow
      &:hover
        :color = !gray_black + " !important"
        +lite_shadow
  form
    +column(12)
  .row
    +column(12)
    
  #presentations
    +wrapper(8)
    h2
      +column(8)
    ul
      :list-style none
      li
        +column(4)
        h3
          +small_sans
          +bold
          :line-height 20px
          :margin-bottom 0
        p
          :margin-top 0
          +small_sans
  #topics
    +column(12)
    table
      tbody
        :border-bottom 1px solid #CCC
      .title
        +column(8)
        +first
        h3
          :margin-bottom 0
          :line-height 24px
      .postcount
        +column(4)
        +last
        p
          :margin-bottom 0
          :line-height 24px
      .user
        +column(8)
        +first
        +small_sans
        p
          :margin-top 0
      .infos
        +column(4)
        +last
        +small_sans
        p
          :margin-top 0
  #blogs
    +column(8)
    ol, ul
      :position relative
      :list-style none
      .img
        :position absolute
        :right 0
        :margin-top -36px
      .author
        :margin-top -10px
        a
          :color = !gray_dark
          +small_text
  #twitter
    +column(4)
    +small_sans
    +ultra_small_text
    ol, ul
      :list-style none
      li
        :border-bottom 1px solid #BABABA
        p.tweet
          :margin-bottom 0
          :line-height 20px
        p.author
          :margin-top 0
          :text-align right
          :line-height 16px
          .img
            img
              :vertical-align -15%
              +micro_radius
          .twu
            :padding-right 5px
  #people
    +wrapper(4)
    h2
      +column(4)
    .devs
      +column(4)
      +radius
      :overflow hidden
      a
        :display inline
        :float left
        :width 70px
        :height 70px

// Controller Action specific

#home-index
  #presentations
    h2
      :margin-bottom 0
  #events
    +column(4)
    h3
      :margin-bottom 0
      +small_sans
      +bold
      :line-height 20px
    .time
      +small_sans
      :margin 0
    .loc
      +small_text
      :margin 0
      
  #apps
    +wrapper(8)
    h2
      +column(8)
    ul
      +wrapper(8)
      li
        +column(4)
        
#topics-index
  table
    +wrapper(12)
    tr
      :position relative
      +wrapper(12)
      .topicinfo
        +column(12)
        h3
          :border-top 1px solid #BABABA
          :border-bottom none
          :margin-bottom 0
          :padding-top 15px
          :font-size 18px
          :line-height 24px
      .postcount
        +column(4)
        :position absolute
        :right 0
        :top 15px
        :text-align center
      .time_and_owner
        +column(8)
        +small_sans
        img
          +micro_radius
        p
          :margin-top 0
          img
            :vertical-align -15%
      .crud
        +column(4)
        :text-align center
        p
          :margin-top 0
    tbody.topic_0
      h3
        :border-top none
        :padding-top 0
      .postcount
        :top 0
  .ctrl
    +column(12)
    :margin-top 20px
    :padding-top 5px
    :border-top 3px double #BABABA
    .crud
      +column(8)
      +first
    .pagination
      +ui_links
      +column(4)
      +last
      :margin
        :top 10px
        :bottom 10px
      :text-align center
#posts-index
  table
    +wrapper(12)
    tr
      +wrapper(12)
      :position relative
      .user
        +column(8)
        h2
          :border-bottom 0
          :line-height 25px
      .timestamps
        +small_sans
        +column(4)
        :line-height 25px
        :text-align center
      .gravatar
        +column(2)
        :position absolute
        :left 0
        :top 10px
        img
          +radius
          
      .body
        :margin-top -10px
        :border-bottom 1px solid #BABABA
        :min-height 125px
        :padding-bottom 10px
        :padding-top 3px
        +column(10)
        +prepend(2)
        +small_sans
        .crud
          :margin-top 0
          +ultra_small_text
          +uitype        
          +bold
          +wrapper(4)
          :margin-left 0
          :margin-right 0
          :text-align left
        code
          :background #ECECEC
          :color black
          :padding
            :left 3px
            :right 3px
            :top 1px
            :bottom 1px
          :font
            :family "Menlo-Regular", "Monaco", Consolas, Lucida Console, monospace
            :size 12px
        pre code
          :padding 0
          :line-height 15px 
          :max-height 750px
          :overflow auto
            
    tr.first
      :margin-top 10px
    .post_0
      .first
        :margin-top 0
        
  .ctrl
    +column(12)
    .crud
      +column(8)
      +first
    .pagination
      +ui_links
      +column(4)
      +last
      :margin
        :top 10px
        :bottom 10px
      :text-align center
    
#topics-index .crud, #posts-index .crud,
#home-events_and_presentations .crud
  +ultra_small_text
  +uitype
  +bold

#home-events_and_presentations
  #events
    +wrapper(12)
    .event
      :position relative
      +wrapper(12)
      h3
        :margin-bottom 0
        :margin-top 0
        :padding-top 10px
        :line-height 30px
        +column(12)
        :border-top-style solid
        :border-top-width 1px
        :border-top-color #BABABA
        :border-bottom none
      .time
        +column(4)
        :position absolute
        +small_sans
        :right 0
        :line-height 30px
      .desc
        +column(8)
        +clearfix
        p
          :margin-top 0
          +small_text
        ul
          +small_text
      .loc
        +column(4)
        :margin-top 0
        +small_text
    .event_0
      h3
        :border-top none
    .crud
      +column(12)
      :margin-top 0

  #presentations
    +wrapper(12)
    .presentation_pair
      +wrapper(12)
      +clearfix
    .presentation
      +wrapper(6)
      +clearfix
      h3
        +column(6)
        :margin-bottom 0
        :border-bottom 0
        :line-height 30px
      p
        :margin 0
        +column(6)
      .speaker
        +small_sans
        +bold
      .description
        p
          +small_text
    .crud
      +column(12)

#home-developers_and_apps
  #developers
    :margin-top 10px
    +column(12)
    +radius
    :overflow hidden
    a
      :display inline
      :float left
      :width 69px
      :height 69px
  #apps
    +column(4)
    ul
      :list-style none
    .app
      p.name
        :border-top 1px solid #BABABA
        :margin-bottom 0
        :line-height 20px
        :padding-top 10px
      .crud
        :margin-top 4px !important
    .crud
      :margin-top 17px
      +small_sans
      +ultra_small_text
      +bold
      :line-height 20px
    .app_0
      p.name
        :border-top 0
        :padding-top 0
  #projects
    +column(8)
    ul
      :list-style none
      li
        h3
          :border-top 1px solid #BABABA
          :margin-bottom 0
          :line-height 30px
          :padding-top 7px
        p
          :margin-top 0
          +small_text
      li.project_0
        h3
          :border-top 0
          :padding-top 0
          :margin-top -2px

#home-blogs_and_tweets
  h2
    :position absolute
    :margin-top -50px
  #blogs
    h2
      +column(8)
      +first
      +last
    ol
      h3
        :margin-bottom 4px
        :padding-right 70px
        :line-height 30px
      img
        +small_radius
      .summary
        :border-bottom 1px solid #BABABA
        :padding-bottom 20px
  #twitter
    h2
      +column(4)
      +first
      +last
    ol
      :list-style none
      p.tweet
        :margin-bottom 0
      p.author
        :margin-top 0
        :text-align right
        :line-height 16px
        .img
          img
            :vertical-align -15%
        .twu
          :padding-right 5px

#presentations-show
  .details
    +wrapper(12)
    .speaker
      :margin-top 0
      +column(4)
      +small_sans
    .location
      :margin-top 0
      +column(4)
      +small_text
    .date
      :margin-top 0
      +column(4)
      +small_sans
    .description
      +column(12)
      .link
        +small_sans
        +bold
  .crud
    +column(12)
    +small_sans
    +bold
#events-show
  .details
    +wrapper(12)
    .location
      :margin-top 0
      +column(8)
      +small_text
    .date
      :margin-top 0
      +column(4)
      +small_sans
    .description, .meetup, .topic
      +column(12)
    .meetup, .topic
      a
        :display block
        :margin
          :top 0
          :bottom 0
        +link_sans
        :line-height 20px
  .attending
    +column(12)
    h2
      :margin-top 0
    p
      +small_sans
  .crud
    +column(12)
    +small_sans
    +bold

#users-show
  .avatar
    +column(4)
    :margin-top 10px
    img
      +radius
  .moreinfo
    :padding-top 9px
    +wrapper(8)
    :min-height 220px
    .about
      +column(8)
    ul
      :list-style none
      +wrapper(8)
      li
        +wrapper(8)
        h3
          +column(2)
          +small_text
          :line-height 20px
          :margin-top 5px
          :margin-bottom 5px
        p
          +small_sans
          :font-size 18px
          +column(6)
          :line-height 20px
          :margin-top 5px
          :margin-bottom 5px
          :word-wrap break-word
  #posts
    :list-style none
    .post
      :position relative
      h3
        +small_sans
        +bold
        :line-height 30px
        :margin-bottom 0
        :border-top 1px solid #BABABA
      .trunc
        +small_text
        :margin-top 0
        :line-height 20px
      .date
        :position absolute
        :right 0
        :top -10px
        +small_sans
        :line-height 30px
    .post_0
      h3
        :border-top 0
  #blogs
    h2
      :margin-bottom 0
    .entry
      :position relative
      h3
        :border-top 1px solid #BABABA
        :line-height 30px
        :padding-top 10px
        :margin-bottom 0
        :padding-right 70px
      .author
        :line-height 30px
        :padding-top 2px
      .img
        :top 50px
        img
          +small_radius
    .entry_0
      h3
        :padding-top 0
        :border-top none
      .img
        :top 40px
        
#users-show #wrap #content .blogs_only
  +column(12)
#users-show #wrap #content .tweets_only
  +wrapper(12)
  h2
    +column(12)
  :margin
    :left 0
    :right 0
  li
    :position relative
    +column(4)
    :height 120px
    .author
      :position absolute
      :bottom 0
      :right 0
#errorExplanation
  +column(12)
  :width = (!column * 12) + (!gutter * 10) - (!gutter / 5) + "px"
  :border = 3px double !red
  :padding
    :left = !gutter/2 + "px"
    :right = !gutter/2 + "px"
    :top = !gutter/4 + "px"
    :bottom = !gutter/4 + "px"
  h2
    :width auto
    :margin 0
    :border-bottom 0
  p
    +small_sans
  li
    :margin-left = !gutter/1.5 + "px"
form
  .fieldWithErrors
    label
      :color = !red
    input
      :border = 1px solid !red
  .personals
    +column(6)
    +first
  .elsewheres
    +column(6)
    +last
    .buttons
      +prepend(0)
  .instruct
    +small_sans
    +ultra_small_text
  .compounded
    :line-height 20px
  label
    a.instruct
      :float right
  .buttons
    :position relative
    +column(6)
    +prepend(6)
    +first
    +last
    .remove
      :position absolute
      :right = !gutter + "px"
      :top -15px
  .body_input 
    textarea
      +wrapper(7)
      +first
      +last
      :height = !column * (7+2) + "px"
  .instruct
    :clear both
    
    
    
#footer
  :background url(/images/footerdrop.gif) center top no-repeat
  +wrapper(16)
  :padding-top 60px
  :padding-bottom 20px
  p 
    +column(12)
    +prefix(4)
    :font normal 13px/20px Arial, Helvetica, sans-serif
    :color #888
    :margin
      :top 0
      :bottom 0
    a
      :color #9E0C0F
      :text-decoration none
      &hover 
        :text-decoration underline