#footer
  %p.whatis
    Ruby on Rails Slovenija je projekt za popularizacijo razvoja aplikacij na Ruby on Rails v Sloveniji.
  %p
    Prostovoljno ga vodiva
    %a{ :href => "http://facebook.com/Some1Else", :title => "Srđan Prodanović, Artiqulate" }
      Srđan Prodanović
    in 
    %a{ :href => "http://majx.org/", :title => "Miha Rebernik, Majx" } Miha Rebernik
    \.
  %p
    Rails je razvil
    %a{ :href => "http://www.loudthinking.com/about.html" }< David Heinemeier Hansson
    , nadgrajujejo pa ga člani
    %a{ :href => "http://groups.google.com/group/rubyonrails-core" }
      Rails core
    skupine.
