#footer
  %p.whatis
    Ruby on Rails Slovenija je projekt za popularizacijo razvoja aplikacij na Ruby on Rails v Sloveniji.
  %p
    Prostovoljno ga vodiva
    %a{ :href => "http://facebook.com/Some1Else", :title => "Srđan Prodanović, Artiqulate" }
      Srđan Prodanović
    in 
    == #{link_to("Miha Rebernik", "http://majx.org/", :title => "Miha Rebernik, Majx")}.
  %p
    Rails je razvil
    == #{link_to("David Heinemeier Hansson", "http://www.loudthinking.com/about.html")},
    nadgrajujejo pa ga člani
    %a{ :href => "http://groups.google.com/group/rubyonrails-core" }
      Rails core
    skupine.
