%ul.details
  %li.clearfix
    .detail= l event.date, :format => :simple
    .label Kdaj

  %li.clearfix
    .detail= event.location
    .label Kje

  %li.clearfix.last
    .detail= event.cached_description_html
    .label Kaj
