%h2 Uredi aplikacijo

= error_messages_for :app

- form_for(@app) do |form|
  = partial 'apps/form', :form => form
    
  %p= form.submit 'Shrani', :disable_with => 'Prosimo počakajte...'
  %p= link_to 'Odstrani', app_path(@app), :method => :delete, :confirm => 'Ste prepričani?'